body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.hero {
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../images/invest-bg.jpg') center/cover no-repeat;
  height: 85vh;
}

.btn-warning {
  font-weight: 600;
}

.card {
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
